* {
    transition: all .2s ease;
  }
  
  
  /* Sección para página principal de estudiante y profesor */
  
  .main {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 100px;
  }
  
    
  .labelBlue {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
  }

  .labelTitle {
    color: #153170;
    font-size: 27px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    left: 40%;
  }

  .something {
    border-bottom: solid 1px #000;
    height: 10px;
    line-height: 20px;
    text-align: left;
}
  .content {
    background-color: #FFF;
    display: inline; /* <--- */
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
  } 

  .labelBlue2 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    
    padding: 0 50px;
  }

  .labelBlue3 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    
    padding: 0 0px;
  }

  .labelBlueRepor {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 0%;
    padding: 0 50px;
  }

  .labelBlueReport1 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 0%;
  }
  .labelBlueReport2 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 8%;
  }
  .labelBlueReport3 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 20%;
  }
  .labelBlueReport4 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 45%;
  }
  .labelBlueReport5 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 62%;
  }
  .labelBlueReport6 {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    position: sticky;
    left: 80%;
  }

  .labelCurso {
    color: #153170;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    left: 15px;
  }

  .labelReto {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    left: 80px;
  }

  .labelActividad {
    color: #153170;
    font-size: 18px;
    font-family: Arial;
    position: relative;
    left: 130px;
  }
  
  .blanckSpace {
    font-size: 30px;
    font-family: Arial;
  }
    
    
  .buttonCal {
    background-color: #153170; /* Green */
    border: none;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
  }
  
  .buttonReto {
    background-color: #153170; /* Green */
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left: 300px;
  }

  .buttonActividad2 {
    background-color: #254ba5; /* Green */
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position:absolute;
     bottom:10px;
     right:10px;
  }

  .buttonActividad3 {
    background-color: #254ba5; /* Green */
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: fixed;
     bottom:10px;
     left: 50%;
  }

  .buttonActividad4 {
    background-color: #254ba5; /* Green */
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position:fixed;
     bottom:10px;
     left:10px;
  }

  
  .labelCursos3 {
    color: #153170;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    position: fixed;
    top: 50px;
  }
  
  
  .cal {
    position: relative;
    top: 0px;
  }
  
  .labelCursos4 {
    color: #153170;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    top: 95px;
    left: 10px;
  }
  
  .round1 {
    background-color: #153170;
    color: #ffffff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
    top: 90px;
  }
  
  .round2 {
    background-color: #153170;
    color: #ffffff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
    top: 90px;
    left: 20px;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  .labelPerfil {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    left: 10px;  
    padding-right: 30px;
  }

  .labelTarea {
    color: #153170;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    left: 10px;  
  }
  
  .labelTarea2 {
    color: #153170;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    left: 20px;
  }
  
  /* The Modal (background) */
  .modalTarea {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalTarea-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .closeTarea {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeTarea:hover,
  .closeTarea:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  

  /* The Modal (background) */
  .modalCrearTarea {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalCrearTarea-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
  }
  
  /* The Close Button */
  .closeCrearTarea {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeCrearTarea:hover,
  .closeCrearTarea:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* Ventana emergente retos */
  /* The Modal (background) */
  .modalAporte {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalAporte-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
  }
  
  /* The Close Button */
  .closeAporte {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeAporte:hover,
  .closeAporte:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  